@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/Raleway-Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway-Medium', sans-serif;
  background-color: #F4F6F5;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0; /*for IE, Opera*/
  padding: 0; /*for Firefox, Safari, Chrome*/
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.site-header-main-panel {
  padding: 38px 166px;
  background-color: #E1EDE6;
}

.header-menu {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  color: #2C2D35;
}

.top-menu-item {
  margin-right: 58px;
  font-size: 23px;
}

.top-menu-item:last-child {
  margin-right: 0;
}

.site-inner-content {
  width: 1110px;
  margin: 0 auto;
}

.site-header-block-wrapper {
  background-image: url(img/head-backgroud.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 70px;
}

.header-text-block-wrapper {
  width: 540px;
  margin-left: auto;
  justify-content: flex-end;
  padding: 145px 0px 145px 30px;
}

.header-block-title {
  font-size: 60px;
  margin-bottom: 20px;
  color: #2C2D35;
}

.header-block-title-style {
  color: #598D66;
}

.header-block-decription {
  font-size: 18px;
  margin-bottom: 60px;
  color: #86928B;
}

.header-block-button {
  width: 225px;
  border: 1px solid;
  color: #598D66;
  font-size: 20px;
  text-align: center;
  padding: 20px 60px;
  cursor: pointer;
}

.mid-title-buttons-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.mid-title {
  font-size: 40px;
  color: #2C2D35;
}

.mid-buttons {
  margin-left: auto;
  justify-content: flex-end;
}

.mid-button-item {
  margin-right: 32px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #D4E8D9;
}

.mid-button-item:first-child {
  background-color: #376B44;
}

.mid-button-item:last-child {
  margin-right: 0px;
}

.mid-content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.mid-content-item {
  width: 350px;
  padding: 20px 20px 30px 20px;
  background-color: #E1EDE6;
  margin-bottom: 30px;
}

.mid-content-item-img {
  margin-bottom: 20px;
}

.mid-content-item-author {
  color: #86928B;
  font-size: 18px;
  margin-bottom: 10px;
}

.mid-content-item-title {
  font-size: 30px;
  color: #2C2D35;
  margin-bottom: 8px;
}

.mid-content-item-description {
  font-size: 18px;
  color: #2C2D35;
  margin-bottom: 30px;
}

.mid-content-item-price {
  font-size: 24px;
  color: #598D66;
  margin-bottom: 20px;
}

.mid-content-item-to-basket-button {
  width: 310px;
  color: #598D66;
  border: 1px solid;
  font-size: 20px;
  text-align: center;
  padding: 20px 60px;
  cursor: pointer;
}

.site-mid-panel-wrapper {
  background-image: url(img/block-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}

.mid-panel-block {
  width: 1110px;
  margin: 0 auto;
}

.mid-panel-text-block {
  padding: 70px 0px;
  width: 540px;
}

.mid-panel-title {
  width: 521px;
  background-image: url(img/Star1.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 100px;
  color: #F4F6F5;
  font-size: 40px;
  margin-bottom: 20px;
}

.mid-panel-description {
  width: 540px;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 60px;
  line-height: 2;
}

.mid-panel-button-read {
  width: 257px;
  background-color: #EEDB6D;
  padding: 20px 60px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.site-footer-block-about-wrapper {
  width: 1110px;
  margin: 0 auto;
  color: #2C2D35;
}

.about-stub-img {
  margin-right: 30px;
}

.footer-block-about-inner {
  display: flex;
  margin-bottom: 70px;
  background-color: #F4F6F5;
}

.footer-block-about {
  width: 635px;
  padding-top: 124px;
}

.about-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-decription {
  font-size: 18px;
  margin-bottom: 20px;
}

.about-img-item {
  margin-right: 30px;
}

.about-img-item:last-child {
  margin-right: 0px;
}

.site-footer-panel {
  background-color: #E1EDE6;
  padding: 23px 0;
}

.footer-panel {
  display: flex;
  margin: 0 auto;
  width: 1110px;
}

.footer-info {
  margin-right: 115px;
  width: 190px;
}

.footer-info-logo {
  margin-bottom: 41px;
}

.footer-info-number {
  font-size: 20px;
  margin-bottom: 8px;
  color: #2C2D35;
}

.footer-info-text {
  font-size: 18px;
  color: #86928B;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-right: 254px;
}

.footer-menu-item-title {
  display: inline-block;
  font-size: 20px;
  color: #2C2D35;
  margin-bottom: 6px;
}

.footer-menu-item {
  font-size: 18px;
  color: #86928B;
  margin-bottom: 6px;
}

.footer-menu-item:last-child {
  margin-bottom: 0;
}

.footer-social-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-item {
  padding-right: 32px;
  margin-bottom: 13px;
}

.footer-copyright {
  font-size: 12px;
  color: #86928B;
}

.copyright-title {
  margin-bottom: 6px;
}