@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/Raleway-Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway-Medium', sans-serif;
  background-color: #F4F6F5;
}

a {
  text-decoration: none;
  color: #000 !important;
}

.site-header-main-panel {
  display: flex;
  justify-content: space-between;
  padding: 38px 166px;
  background-color: #E1EDE6;
}

.top-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.top-menu-item {
  margin-right: 58px;
  font-size: 23px;
  color: #2C2D35;
}

.top-menu-item:last-child {
  margin-right: 0;
}

.site-inner-content {
  width: 1110px;
  margin: 0 auto;
}

.site-header-block-wrapper {
  background-image: url(img/head-backgroud.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-text-block-wrapper {
  width: 540px;
  margin-left: auto;
  justify-content: flex-end;
  padding: 145px 0px 145px 30px;
}

.header-block-title {
  font-size: 60px;
  margin-bottom: 20px;
  color: #2C2D35;
}

.header-block-title-style {
  color: #598D66;
}

.header-block-decription {
  font-size: 18px;
  margin-bottom: 60px;
  color: #86928B;
}

.header-block-button {
  width: 225px;
  border: 1px solid;
  color: #598D66;
  font-size: 20px;
  text-align: center;
  padding: 20px 60px;
}

